/LightingController/bin
/LightingController/.vs
/LightingController/obj
/OrchestrationService/.gocache
/InitializerService/target
/virtual-dj-plugin/CPP/.vs
/virtual-dj-plugin/CPP/VJDeckTCP/x64
/virtual-dj-plugin/CPP/x64
/virtual-dj-plugin/target
